<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
    content="Chương trình đào tạo tiếng Nhật, khóa học miễn phí tiếng Nhật sơ cấp online, đào tạo N5-N4-N3-N2-N1 " />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../css/index.css">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet" />
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
    <script type="text/javascript" src="../js/index.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <title>Chương trình đào tạo tiếng Nhật | Công ty cổ phần quốc tế BIM-PG</title>
</head>


<body>
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <nav class="large-screen">
        <div class="header px-5 pt-4 pb-5">
            <div class="header-nav">
                <div class="logo">
                    <a href="/">
                        <img src="../images/logo-cty.png"
                            alt="Tư vấn du học và xuất khẩu lao động - Hàn Quốc - Nhật Bản" id="logo">
                    </a>

                </div>
                <div class="scroll-announcements" id="scroll-container">
                    <div id="scroll-text">Công ty cổ phần quốc tế BIM-PG chúc mừng năm mới 2023</div>

                </div>
                <div class="header-button">
                    <div class="fab-large-screen">
                        <a class="btn btn-primary btn-lg btn-floating " style="background-color: #3b5998;"
                            href="https://www.facebook.com/profile.php?id=100090485585530" target="_blank" role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-primary btn-lg btn-floating" data-mdb-toggle="tooltip"
                            style="background-color: #38a7ff" title="0989016574" role="button">
                            <i class="fas fa-phone"></i>

                        </a>
                        <a class="btn btn-primary btn-lg btn-floating" data-mdb-toggle="tooltip"
                            style="background-color: #e34133" title="bimpgduhocxlkd@gmail.com" role="button">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                    <div id="scrollspy1"><a class="btn btn-success btn-rounded"
                            style="font-size: 16px; margin-left: 10px;" href="#contact-form">Đăng kí tư vấn</a></div>




                </div>
            </div>

        </div>
    </nav>


    <nav class="mobi-nav" id="mobi-navbar">
        <div class="mobi-logo d-flex justify-content-center"><img src="../images/logo-cty.png"
                alt="Tư vấn du học và xuất khẩu lao động - Hàn Quốc - Nhật Bản" id="mobi-logo">
        </div>
        <div class="mobi-btn-nav" id="mobi-button-nav"><span onclick="openNav()"><i class="fas fa-bars"></i></span>
        </div>
        <div id="mobi-Sidenav" class="mobi-sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="nav-ul-mobi">
                <li class="nav-li-mobi">Đào tạo</li>
                <ul class="nav-ul-mobi">
                    <li class="nav-a-mobi">
                        <a href="/chuong-trinh-dao-tao-tieng-nhat">Khóa Học Tiếng
                            Nhật</a>
                    </li>
                    <li class="nav-a-mobi">
                        <a href="/chuong-trinh-dao-tao-tieng-han">Khóa Học Tiếng
                            Hàn</a>
                    </li>
                </ul>
                <li class="nav-li-mobi">Tin tức</li>
                <ul class="nav-ul-mobi">
                    <li class="nav-a-mobi">
                        <a href="/tin-tuc-du-hoc-va-xuat-khau-lao-dong">Tất cả tin tức</a>
                    </li>

                </ul>
                <li class="nav-li-mobi">Du học</li>
                <ul class="nav-ul-mobi">
                    <li class="nav-a-mobi"><a href="/thong-bao-tuyen-sinh-du-hoc-nhat-ban">Thông tin tuyển
                            sinh Nhật Bản</a></li>
                    <li class="nav-a-mobi"><a href="/thong-bao-tuyen-sinh-du-hoc-han-quoc">Thông tin tuyển
                            sinh Hàn Quốc</a></li>
                    <li class="nav-a-mobi"><a href="/tuyen-sinh-du-hoc-ky-su">Tuyển sinh du học kĩ sư</a>
                    </li>
                    <li class="nav-a-mobi"><a href="/tuyen-sinh-du-hoc-phat-bao">Tuyển sinh du học phát
                            báo</a></li>
                    <li class="nav-a-mobi"><a href="/tuyen-sinh-du-hoc-chuyen-visa">Tuyển sinh du học chuyển
                            visa</a></li>
                    <li class="nav-a-mobi"><a href="/ho-so-du-hoc">Hồ sơ du học</a></li>
                </ul>
                <li class="nav-li-mobi">Xuất khẩu lao động</li>
                <ul class="nav-ul-mobi">
                    <li class="nav-a-mobi"> <a href="/tuyen-dung-ky-su-nhat-ban">Tuyển dụng kỹ sư Nhật
                            Bản</a>
                    </li>  
                    <li class="nav-a-mobi"> <a href="/tuyen-dung-ky-su-han-quoc">Tuyển dụng kỹ sư Hàn Quốc
                        VISA E7</a></li>
                    <li class="nav-a-mobi"> <a href="/xuat-khau-lao-dong-nhat-ban">Xuất khẩu lao động Nhật
                            Bản</a>
                    </li>
                  
                    <li class="nav-a-mobi"><a href="/xuat-khau-lao-dong-nhat-ban-tokutei">Xuất khẩu lao động
                            Nhật Bản Tokutei</a></li>
                    <li class="nav-a-mobi"><a href="/huong-dan-nhap-canh-han-quoc">Hướng dẫn nhập cảnh Hàn
                            Quốc</a></li>
                    <li class="nav-a-mobi"><a href="/huong-dan-nhap-canh-nhat-ban">Hướng dẫn nhập cảnh Nhật
                            Bản</a></li>
                </ul>
                <li class="nav-li-mobi">Góc học tập</li>
                <ul class="nav-ul-mobi">
                    <li class="nav-a-mobi"><a href="/bang-chu-cai-tieng-nhat" class="nav-link-a">Bảng chữ cái tiếng
                            Nhật</a>
                    </li>
                    <li class="nav-a-mobi"><a href="/1000-tu-vung-tieng-nhat" class="nav-link-a">1000 từ vựng tiếng
                            Nhật</a>
                    </li>
                </ul>
                <li class="nav-li-mobi">Về chúng tôi</li>
                <ul class="nav-ul-mobi">
                    <li class="nav-a-mobi"> <a href="/gioi-thieu-cong-ty-bimpg">Giới thiệu BIM-PG</a>
                    </li>

                </ul>
            </ul>

        </div>
    </nav>

    <div>
        <div class="large-screen d-flex container-fluid justify-content-center position-relative">
            <div class="navigation">
                <ul class="nav-list large-screen">
                    <li class="nav-list-li" id="collapse-li-daotao" aria-expanded="false">
                        <a>Đào Tạo</a>
                        <div class="shadow-3" id="collapse-nav-daotao">
                            <ul>
                                <li><a href="/chuong-trinh-dao-tao-tieng-nhat" class="nav-link-a">Khóa Học Tiếng
                                        Nhật</a></li>
                                <li><a href="/chuong-trinh-dao-tao-tieng-han" class="nav-link-a">Khóa Học Tiếng Hàn</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <a href="/tin-tuc-du-hoc-va-xuat-khau-lao-dong" class="nav-link-a">
                        <li class="nav-list-li">
                            Tin Tức

                        </li>
                    </a>
                    <li class="nav-list-li" id="collapse-li-duhoc" aria-expanded="false">
                        <a>Du Học</a>
                        <div class="shadow-3" id="collapse-nav-duhoc">
                            <ul>
                                <li><a href="/thong-bao-tuyen-sinh-du-hoc-nhat-ban" class="nav-link-a">Thông tin tuyển
                                        sinh Nhật Bản</a></li>
                                <li><a href="/thong-bao-tuyen-sinh-du-hoc-han-quoc" class="nav-link-a">Thông tin tuyển
                                        sinh Hàn Quốc</a></li>
                                <li><a href="/tuyen-sinh-du-hoc-dieu-duong" class="nav-link-a">Tuyển sinh du học điều
                                        dưỡng</a></li>
                                <li><a href="/tuyen-sinh-du-hoc-ky-su" class="nav-link-a">Tuyển sinh du học kĩ sư</a>
                                </li>
                                <li><a href="/tuyen-sinh-du-hoc-phat-bao" class="nav-link-a">Tuyển sinh du học phát
                                        báo</a></li>
                                <li><a href="/tuyen-sinh-du-hoc-chuyen-visa" class="nav-link-a">Tuyển sinh du học chuyển
                                        visa</a></li>
                                <li><a href="/ho-so-du-hoc" class="nav-link-a">Hồ sơ du học</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-list-li" id="collapse-li-xkld" aria-expanded="false">
                        <a>Xuất Khẩu Lao Động</a>
                        <div class="shadow-3" id="collapse-nav-xkld">
                            <ul>
                                <li> <a href="/tuyen-dung-ky-su-nhat-ban" class="nav-link-a">Tuyển dụng kỹ sư Nhật
                                        Bản</a>
                                </li>
                                <li><a href="/tuyen-dung-ky-su-han-quoc" class="nav-link-a">Tuyển dụng kỹ sư Hàn Quốc
                                        VISA E7</a></li>
                                <li> <a href="/xuat-khau-lao-dong-nhat-ban" class="nav-link-a">Xuất khẩu lao động Nhật
                                        Bản</a>
                                </li>

                                <li><a href="/xuat-khau-lao-dong-nhat-ban-tokutei" class="nav-link-a">Xuất khẩu lao động
                                        Nhật Bản Tokutei</a></li>
                                <li><a href="/huong-dan-nhap-canh-han-quoc" class="nav-link-a">Hướng dẫn nhập cảnh Hàn
                                        Quốc</a></li>
                                <li><a href="/huong-dan-nhap-canh-nhat-ban" class="nav-link-a">Hướng dẫn nhập cảnh Nhật
                                        Bản</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-list-li" id="collapse-li-hoctap" aria-expanded="false">
                        <a>Góc Học Tập</a>
                        <div class="shadow-3" id="collapse-nav-hoctap">
                            <ul>
                                <li><a href="/bang-chu-cai-tieng-nhat" class="nav-link-a">Bảng chữ cái tiếng Nhật</a>
                                </li>
                                <li><a href="/1000-tu-vung-tieng-nhat" class="nav-link-a">1000 từ vựng tiếng Nhật</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <a href="/gioi-thieu-cong-ty-bimpg" class="nav-link-a">
                        <li class="nav-list-li">
                            Về Chúng Tôi
                        </li>
                    </a>
                </ul>


            </div>
        </div>
        <div class="title-page">
            <h1>Chương trình đào tạo tiếng Nhật</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="py-3 training-page">
                    <div class="breadcumb-div">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home mx-1"></i> Trang chủ</a>
                                </li>
                
                                <li class="breadcrumb-item active" aria-current="page">Chương trình đào tạo tiếng Nhật
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div id="scrollspy-collapsible" class="section-news-mobi">
                        <h5>Nội dung</h5>
                        <ul class="nav flex-column nav-pills menu-sidebar">
                            <li class="nav-item">
                                <a href="#ctdt-nhat-part-1-collapsible">Khóa học miễn phí tiếng Nhật sơ cấp online từ
                                    con số 0</a>
                            </li>
                            <li class="nav-item">
                                <a href="#ctdt-nhat-part-2-collapsible">Khóa học – Luyện thi tiếng Nhật N3</a>
                            </li>
                            <li class="nav-item">
                                <a href="#ctdt-nhat-part-3-collapsible">Khóa học – Luyện thi tiếng Nhật N2</a>
                            </li>
                            <li class="nav-item">
                                <a href="#ctdt-nhat-part-4-collapsible">Khóa học – Luyện thi tiếng Nhật N1</a>
                            </li>
                        </ul>
                    </div>
                  
                    <div class="training-page-part mt-4" id="ctdt-nhat-part-1-collapsible">
                        <h3>I. Khóa học miễn phí tiếng Nhật sơ cấp online từ con số 0</h3>
                        <p>
                            Bạn muốn học tiếng Nhật nhưng không biết bắt đầu từ đâu? Bạn muốn học tiếng Nhật nhưng không
                            có thời
                            gian tại nhà thì đừng chần chừ, hãy đến ngay với khóa học online miễn phí của chúng tôi.
                        </p>

                        <h4>1. Khóa học miễn phí tiếng Nhật online dành cho ai?</h4>
                        <ul>
                            <li>Người mới bắt đầu, lần đầu tiên tiếp xúc tiếng Nhật hoặc đang học ở trình độ <b
                                    class="text-danger">N5</b> nhưng
                                chưa nắm
                                vững kiến thức.</li>
                            <li>Những bạn có dự định du học hoặc làm việc tại Nhật trong thời gian sắp tới.</li>
                            <li>Có niềm đam mê và yêu thích văn hóa đất nước Nhật Bản và ngôn ngữ Nhật.</li>
                        </ul>

                        <h4>2. Nội dung khóa học</h4>
                        <ul>
                            <li>2 bảng chữ cái <b class="text-danger">Hiragana</b> và <b
                                    class="text-danger">Katakana</b>.</li>
                            <li>Học và luyện tập quy tắc phát âm chuẩn trong tiếng Nhật.</li>
                            <li>Toàn bộ cấu trúc ngữ pháp <b class="text-danger">N5</b>,<b class="text-danger">N4</b>
                                trong 50 bài theo giáo trình Minna no Nihongo.</li>
                            <li>Toàn bộ từ vựng và chữ Kanji của trình độ <b class="text-danger">N5</b>, <b
                                    class="text-danger">N4</b>.</li>
                            <li>Học hội thoại theo giáo trình và luyện tập giao tiếp về chủ đề thường nhật.</li>


                        </ul>
                        <p>Kết thúc khóa học, bạn sẽ nắm chắc kiến thức trình độ <b class="text-danger">N5</b>, <b
                                class="text-danger">N4</b>. Học viên cũng có thể giao tiếp
                            cơ bản
                            các chủ đề thông dụng, tự tin tham gia phỏng vấn du học trực tiếp với các trường Nhật Bản
                            hoặc doanh
                            nghiệp Nhật Bản; đủ kiến thức, kỹ năng để thi đạt chứng chỉ các kì thi năng lực Tiếng Nhật
                            sơ cấp –
                            Trình độ <b class="text-danger">N5</b>, <b class="text-danger">N4</b>.</p>
                        <h4>3. Thời Lượng khóa học</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tổng thời gian</td>
                                    <td>4 tháng</td>
                                </tr>
                                <tr>
                                    <td>Thời gian học</td>
                                    <td>2h/buổi</td>
                                </tr>
                                <tr>
                                    <td>Lịch học</td>
                                    <td>3 buổi/tuần</td>
                                </tr>
                                <tr>
                                    <td>Hình thức học</td>
                                    <td><span class="badge badge-primary rounded-pill d-inline">Online</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>4. Tại sao nên tham gia khóa học online miễn phí</h4>
                        <p>“Miễn phí nhưng chất lượng” - đó là câu nói miêu tả toàn diện khóa học tiếng Nhật online tại
                            Công ty cổ phần quốc tế BIM-PG</p>
                        <p>Với đội ngũ giáo viên trẻ nhiệt huyết với phương pháp học mới sẽ giúp bạn có hứng thú yêu
                            thích học tiếng Nhật.</p>
                        <ul>
                            <li>Giáo viên Việt: Tốt nghiệp các trường đại học và trình độ <b class="text-danger">N2</b>
                                trở lên, đã có thời gian
                                học tập và làm việc tại Nhật.</li>
                            <li>Giáo viên Nhật: Có kinh nghiêm và đang giảng dạy tại các trường Nhật ngữ ở Nhật Bản.
                            </li>
                        </ul>

                        <h5>5. Quyền lợi và yêu cầu đối với học viên</h5>
                        <p>a, Quyền lợi</p>
                        <ul>
                            <li>Được miễn phí tham gia khóa học.</li>
                            <li>Được sự hỗ trợ nhiệt tình của đội ngũ giảng viên, tư vấn viên về phương pháp và lộ trình
                                học phù hợp.</li>
                            <li>Được hỗ trợ miễn giảm học phí cho những bạn được chứng chỉ trong kì thi năng lực Tiếng
                                Nhật sơ cấp – Trình độ <b class="text-danger">N5</b>, <b class="text-danger">N4</b>.
                            </li>
                            <li>Được hỗ trợ tư vấn miễn phí và ưu đãi cho những bạn dự định du học hoặc làm việc tại
                                Nhật.</li>
                        </ul>
                        <p>b, Yêu cầu đối với học viên</p>
                        <ul>
                            <li>Học viên đi học đúng giờ và tham gia buổi học đầy đủ.</li>
                            <li>Đăng ký trước ngày khai giảng để chắc chắn tham gia lớp học. Lớp học tại Công ty cổ phần
                                quốc tế BIM-PG chỉ có từ 10 – 15 học viên, vì vậy các bạn cần đăng ký sớm để chắc chắn
                                được vào lớp học mà không phải đợi lớp học sau.</li>
                            <li>Học viên nắm vững nội quy học tập khi học viên đến đăng ký khóa học.</li>
                        </ul>
                    </div>
                    <img class="my-3 rounded-1" src="../images/chuong-trinh-dao-tao-tieng-nhat.png" alt="Chương trình đào tạo tiếng Nhật" style="width: 100%;">
                    <div class="training-page-part" id="ctdt-nhat-part-2-collapsible">
                        <h3>II. Khóa học – Luyện thi tiếng Nhật N3</h3>
                        <p>
                            Bạn đã học xong chương trình <b class="text-danger">N4</b> và muốn bứt tốc có chứng chỉ <b
                                class="text-danger">N3</b> trong thời gian ngắn nhất
                            nhưng lại lo sợ không nắm vững kiến thức?<br />
                            Đừng lo, đã có khóa học tiếng Nhật cấp tốc <b class="text-danger">N3</b> tại Công ty cổ phần
                            quốc tế BIM-PG với chương
                            trình đào tạo chất lượng cao, đào tạo xuyên suốt .

                        </p>

                        <h4>1. Khóa học N3 dành cho ai?</h4>
                        <ul>
                            <li>Bạn đã hoàn thành 50 bài Minna hoặc tương đương <b class="text-danger">N4</b>.</li>
                            <li>Bạn muốn đi du học hay làm việc tại Nhật Bản.</li>
                            <li>Bạn cần chứng chỉ <b class="text-danger">N3</b> với mong muốn được làm việc tại các công
                                ty Nhật Bản tại Việt Nam.
                            </li>
                            <li>Bạn có niềm đam mê, yêu thích Tiếng Nhật và yêu thích đất nước Nhật Bản.</li>
                        </ul>

                        <h4>2. Nội dung khóa học</h4>
                        <p>Chương trình học tại Công ty cổ phần quốc tế BIM-PG bám sát với nội dung thi và các
                            dạng bài thi giúp học viên có thể cọ sát hơn với dạng đề thi thật JLPT. Bên cạnh
                            đó ngoài việc giảng dạy chương trình trình độ <b class="text-danger">N3</b> để
                            chuẩn bị tốt cho kỳ thi,
                            học viên sẽ được:</p>
                        <ul>
                            <li>Từ vựng, Ngữ pháp, Kanji trình độ <b class="text-danger">N3</b>.</li>
                            <li>Luyện tập hội thoại và giao tiếp về chủ đề chuyên sâu, cùng giáo viên dày dặn kinh
                                nghiệm.</li>
                            <li>Luyện Đọc / Luyện Nghe / Hiểu các đoạn văn, hội thoại trình độ <b
                                    class="text-danger">N3</b>.</li>
                            <li>Ôn tập kiến thức, luyện đề thi trình độ <b class="text-danger">N3</b>.</li>


                        </ul>
                        <h4>3. Thời gian học và khóa học</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tổng thời gian</td>
                                    <td>5 tháng</td>
                                </tr>
                                <tr>
                                    <td>Thời gian học</td>
                                    <td>2.5h/buổi</td>
                                </tr>
                                <tr>
                                    <td>Lịch học</td>
                                    <td>3 buổi/tuần</td>
                                </tr>
                                <tr>
                                    <td>Hình thức học</td>
                                    <td><span class="badge badge-primary rounded-pill d-inline">Online</span></td>
                                </tr>
                                <tr>
                                    <td>Học phí</td>
                                    <td>XXX</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>4. Tại sao nên đăng kí khóa học N3</h4>
                        <p>Với đội ngũ giáo viên trẻ nhiệt huyết, dày dặn kinh nghiệm ôn thi thực chiến JLPT cùng phương
                            pháp mới mẻ sẽ giúp bạn đạt mục tiêu chinh phục thử thách chứng chỉ năng lực tiếng Nhật <b
                                class="text-danger">N3</b>.
                        </p>
                        <p>Giáo viên Việt: Tốt nghiệp các trường đại học và trình độ <b class="text-danger">N2</b> trở
                            lên, đã có thời gian học tập
                            và làm việc tại Nhật.</p>

                        <h5>5. Quyền lợi và yêu cầu đối với học viên</h5>
                        <p>a, Quyền lợi</p>
                        <ul>
                            <li>Được sự hỗ trợ nhiệt tình của đội ngũ giảng viên, tư vấn viên về phương pháp và lộ trình
                                học phù hợp.</li>
                            <li>Được hỗ trợ miễn giảm học phí cho những bạn được chứng chỉ trong kì thi năng lực Tiếng
                                Nhật sơ cấp – Trình độ <b class="text-danger">N5</b>, <b class="text-danger">N4</b>.
                            </li>
                            <li>Được hỗ trợ tư vấn miễn phí và ưu đãi cho những bạn dự định du học hoặc làm việc tại
                                Nhật.</li>
                        </ul>
                        <p>b, Yêu cầu đối với học viên</p>
                        <ul>
                            <li>Học viên đi học đúng giờ và tham gia buổi học đầy đủ.</li>
                            <li>Đăng ký trước ngày khai giảng để chắc chắn tham gia lớp học. Lớp học tại Công ty cổ phần
                                quốc tế BIM-PG chỉ có từ 10 – 12 học viên, vì vậy các bạn cần đăng ký sớm để chắc chắn
                                được vào lớp học mà không phải đợi lớp học sau.</li>
                            <li>Học viên nắm vững nội quy học tập khi học viên đến đăng ký khóa học.</li>
                        </ul>
                    </div>


                    <div class="training-page-part" id="ctdt-nhat-part-3-collapsible">
                        <h3>III. Khóa học – Luyện thi tiếng Nhật N2</h3>

                        <h4>1. Khóa học- Luyện thi N2 dành cho ai?</h4>
                        <ul>
                            <li>Người đã có chứng chỉ hoặc hoàn thành chương trình học <b class="text-danger">N3</b>
                                hoặc năng lực tương đương <b class="text-danger">N3</b>.
                            </li>
                            <li>Người có dự định đi du học, làm việc tại Nhật Bản.</li>
                            <li>Người có mong muốn làm việc tại các doanh nghiệp Nhật Bản, cần chứng chỉ <b
                                    class="text-danger">N2</b> phục vụ cho
                                công việc.</li>
                        </ul>

                        <h4>2. Nội dung khóa học</h4>
                        <p>Chương trình học và luyện thi <b class="text-danger">N2</b> được xây dựng bám sát với nội
                            dung bài thi JLPT <b class="text-danger">N2</b>. Học viên
                            được luyện đề và cọ sát với các dạng đề thi thật.</p>
                        <ul>
                            <li>Ôn lại kiến thức <b class="text-danger">N3</b></li>
                            <li>Từ vựng, Ngữ pháp, Kanji trình độ <b class="text-danger">N2</b>.</li>
                            <li>Luyện tập hội thoại và giao tiếp về chủ đề chuyên sâu, cùng giáo viên dày dặn kinh
                                nghiệm.</li>
                            <li>Luyện Đọc – Hiểu, Nghe – Hiểu các đoạn văn, hội thoại trình độ <b
                                    class="text-danger">N2</b>.</li>
                            <li>Ôn tập kiến thức, luyện đề thi chuyên sâu trình độ <b class="text-danger">N2</b>.</li>
                        </ul>
                        <p>Kết thúc khóa học:</p>
                        <ul>
                            <li>Học viên nắm được toàn bộ kiến thức <b class="text-danger">N2</b>.</li>
                            <li>Tự tin tham gia kỳ thi năng lực tiếng Nhật.</li>

                        </ul>
                        <h4>3. Thời gian học và khóa học</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tổng thời gian</td>
                                    <td>6 tháng</td>
                                </tr>
                                <tr>
                                    <td>Thời gian học</td>
                                    <td>2.5h/buổi</td>
                                </tr>
                                <tr>
                                    <td>Lịch học</td>
                                    <td>3 buổi/tuần</td>
                                </tr>
                                <tr>
                                    <td>Hình thức học</td>
                                    <td><span class="badge badge-primary rounded-pill d-inline">Online</span></td>
                                </tr>
                                <tr>
                                    <td>Học phí</td>
                                    <td>XXX</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>4. Tại sao nên đăng kí khóa học N2</h4>
                        <p>Với đội ngũ giáo viên trẻ nhiệt huyết, dày dặn kinh nghiệm ôn thi thực chiến JLPT cùng phương
                            pháp mới mẻ sẽ giúp bạn đạt mục tiêu chinh phục thử thách chứng chỉ năng lực tiếng Nhật <b
                                class="text-danger">N2</b>.
                        </p>
                        <p>Giáo viên Việt: Tốt nghiệp các trường đại học và trình độ <b class="text-danger">N2</b>, <b
                                class="text-danger">N1</b> , đã có thời gian học tập và
                            làm việc tại Nhật.</p>

                        <h5>5. Quyền lợi và yêu cầu đối với học viên</h5>
                        <p>a, Quyền lợi</p>
                        <ul>
                            <li>Được hỗ trợ bảo lưu, chuyển đổi lịch học phù hợp</li>
                            <li>Được sự hỗ trợ nhiệt tình của đội ngũ giảng viên, tư vấn viên về phương pháp và lộ trình
                                học phù hợp.</li>
                            <li>Được hỗ trợ miễn giảm học phí cho những bạn được chứng chỉ trong kì thi năng lực Tiếng
                                Nhật sơ cấp – Trình độ <b class="text-danger">N3</b>.</li>
                            <li>Được hỗ trợ tư vấn miễn phí và ưu đãi cho những bạn dự định du học hoặc làm việc tại
                                Nhật.</li>
                        </ul>
                        <p>b, Yêu cầu đối với học viên</p>
                        <ul>
                            <li>Học viên đi học đúng giờ và tham gia buổi học đầy đủ.</li>
                            <li>Đăng ký trước ngày khai giảng để chắc chắn tham gia lớp học. Lớp học tại Công ty cổ phần
                                quốc tế BIM-PG chỉ có từ 10 học viên, vì vậy các bạn cần đăng ký sớm để chắc chắn được
                                vào lớp học mà không phải đợi lớp học sau.</li>
                            <li>Học viên nắm vững nội quy học tập khi học viên đến đăng ký khóa học.</li>
                        </ul>
                    </div>

                    <div class="training-page-part" id="ctdt-nhat-part-4-collapsible">
                        <h3>IV. Khóa học – Luyện thi tiếng Nhật N1</h3>

                        <h4>1. Khóa học- Luyện thi N1 dành cho ai?</h4>
                        <ul>
                            <li>Người đã có chứng chỉ hoặc hoàn thành chương trình học <b class="text-danger">N2</b>
                                hoặc năng lực tương đương <b class="text-danger">N2</b>.
                            </li>
                            <li>Người có dự định đi du học, làm việc tại Nhật Bản.</li>
                            <li>Người có mong muốn làm việc tại các doanh nghiệp Nhật Bản, cần chứng chỉ <b
                                    class="text-danger">N1</b> phục vụ cho
                                công việc.</li>
                        </ul>

                        <h4>2. Nội dung khóa học</h4>
                        <p>Chương trình học và luyện thi <b class="text-danger">N1</b> được xây dựng bám sát với nội
                            dung bài thi JLPT <b class="text-danger">N2</b>. Học viên
                            được luyện đề và cọ sát với các dạng đề thi thật.</p>
                        <ul>
                            <li>Ôn lại kiến thức <b class="text-danger">N2</b></li>
                            <li>Từ vựng, Ngữ pháp, Kanji trình độ <b class="text-danger">N1</b>.</li>
                            <li>Luyện tập hội thoại và giao tiếp về chủ đề chuyên sâu, cùng giáo viên dày dặn kinh
                                nghiệm.</li>
                            <li>Luyện Đọc – Hiểu, Nghe – Hiểu các đoạn văn, hội thoại trình độ <b
                                    class="text-danger">N1</b>.</li>
                            <li>Ôn tập kiến thức, luyện đề thi chuyên sâu trình độ <b class="text-danger">N1</b> và
                                luyện thi bổ túc.</li>
                        </ul>
                        <p>Kết thúc khóa học:</p>
                        <ul>
                            <li>Học viên nắm được toàn bộ kiến thức <b class="text-danger">N1</b>.</li>
                            <li>Tự tin tham gia kỳ thi năng lực tiếng Nhật.</li>

                        </ul>
                        <h4>3. Thời gian học và khóa học</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tổng thời gian</td>
                                    <td>7 tháng</td>
                                </tr>
                                <tr>
                                    <td>Thời gian học</td>
                                    <td>2.5h/buổi</td>
                                </tr>
                                <tr>
                                    <td>Lịch học</td>
                                    <td>3 buổi/tuần</td>
                                </tr>
                                <tr>
                                    <td>Hình thức học</td>
                                    <td><span class="badge badge-primary rounded-pill d-inline">Online</span></td>
                                </tr>
                                <tr>
                                    <td>Học phí</td>
                                    <td>XXX</td>
                                </tr>
                            </tbody>
                        </table>

                        <h4>4. Tại sao nên đăng kí khóa học N1</h4>
                        <p>Với đội ngũ giáo viên trẻ nhiệt huyết, dày dặn kinh nghiệm ôn thi thực chiến JLPT cùng phương
                            pháp mới mẻ sẽ giúp bạn đạt mục tiêu chinh phục thử thách chứng chỉ năng lực tiếng Nhật <b
                                class="text-danger">N1</b>.
                        </p>
                        <p>Giáo viên Việt: Tốt nghiệp các trường đại học và trình độ <b class="text-danger">N2</b>, <b
                                class="text-danger">N1</b> , đã có thời gian học tập và
                            làm việc tại Nhật.</p>

                        <h5>5. Quyền lợi và yêu cầu đối với học viên</h5>
                        <p>a, Quyền lợi</p>
                        <ul>
                            <li>Được hỗ trợ bảo lưu, chuyển đổi lịch học phù hợp</li>
                            <li>Được sự hỗ trợ nhiệt tình của đội ngũ giảng viên, tư vấn viên về phương pháp và lộ trình
                                học phù hợp.</li>
                            <li>Được hỗ trợ miễn giảm học phí cho những bạn được chứng chỉ trong kì thi năng lực Tiếng
                                Nhật sơ cấp – Trình độ <b class="text-danger">N2</b>.</li>
                            <li>Được hỗ trợ tư vấn miễn phí và ưu đãi cho những bạn dự định du học hoặc làm việc tại
                                Nhật.</li>
                        </ul>
                        <p>b, Yêu cầu đối với học viên</p>
                        <ul>
                            <li>Học viên đi học đúng giờ và tham gia buổi học đầy đủ.</li>
                            <li>Đăng ký trước ngày khai giảng để chắc chắn tham gia lớp học. Lớp học tại Công ty cổ phần
                                quốc tế BIM-PG chỉ có từ 10 học viên, vì vậy các bạn cần đăng ký sớm để chắc chắn được
                                vào lớp học mà không phải đợi lớp học sau.</li>
                            <li>Học viên nắm vững nội quy học tập khi học viên đến đăng ký khóa học.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="scrollspy-collapsible" class="section-news">
                    <h5>Nội dung</h5>
                    <ul class="nav flex-column nav-pills menu-sidebar">
                        <li class="nav-item">
                            <a href="#ctdt-nhat-part-1-collapsible">Khóa học miễn phí tiếng Nhật sơ cấp online từ con số
                                0</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ctdt-nhat-part-2-collapsible">Khóa học – Luyện thi tiếng Nhật N3</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ctdt-nhat-part-3-collapsible">Khóa học – Luyện thi tiếng Nhật N2</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ctdt-nhat-part-4-collapsible">Khóa học – Luyện thi tiếng Nhật N1</a>
                        </li>
                    </ul>
                </div>
                <div class="form-contact-news" data-mdb-spy="scroll"
                data-mdb-target="#scrollspy1" data-mdb-offset="0">
                    <h4>Đăng kí tư vấn</h4>  
                    <form class="form form-contact" id="contact-form">
                        <p style="font-size:12px; font-weight: 600; opacity: 75%; color:#ecb390">Vui lòng điền thông tin
                            chính xác</p>
                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="Họ tên" name="fullname">
                            <label class="label">Họ tên</label>

                        </div> <span id="check-fullname"
                            style="color: red; font-size: 14px; margin-left: 10px; margin-bottom:10px; display: none;"></span>

                        <div class="inputContainer">
                            <input type="email" class="input" placeholder="Email" name="email">
                            <label class="label">Email</label>

                        </div> <span id="check-email"
                            style="color: red; font-size: 14px; margin-left: 10px; margin-bottom:10px; display: none;"></span>

                        <div class="inputContainer">
                            <input type="tel" class="input" placeholder="Số điện thoại" name="contact"
                                pattern="^[0|84]">
                            <label class="label">Số điện thoại</label>

                        </div>
                        <span id="check-contact"
                            style="color: red; font-size: 14px; margin-left: 10px; margin-bottom:10px; display: none;"></span>
                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="Năm sinh" name="birth" maxlength="4">
                            <label class="label">Năm sinh</label>

                        </div><span id="check-birth"
                            style="color: red; font-size: 14px; margin-left: 10px; margin-bottom:10px; display: none;"></span>

                        <div class="custom-select my-3" style="width:100%;">
                            <select name="city">
                                <option value="0">Chọn Thành phố:</option>
                                <option value="Hà Nội">Hà Nội</option>
                                <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                <option value="An Giang">An Giang</option>
                                <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                <option value="Bắc Giang">Bắc Giang</option>
                                <option value="Bắc Kạn">Bắc Kạn</option>
                                <option value="Bạc Liêu">Bạc Liêu</option>
                                <option value="Bắc Ninh">Bắc Ninh</option>
                                <option value="Bến Tre">Bến Tre</option>
                                <option value="Bình Định">Bình Định</option>
                                <option value="Bình Dương">Bình Dương</option>
                                <option value="Bình Phước">Bình Phước</option>
                                <option value="Bình Thuận">Bình Thuận</option>
                                <option value="Bình Thuận">Bình Thuận</option>
                                <option value="Cà Mau">Cà Mau</option>
                                <option value="Cao Bằng">Cao Bằn</option>
                                <option value="Cần Thơ">Cần Thơ</option>
                                <option value="Đà Nẵng">Đà Nẵng</option>
                                <option value="Đắk Lắk">Đắk Lắk</option>
                                <option value="Đắk Nông">Đắk Nông</option>
                                <option value="Điện Biên">Điện Biên</option>
                                <option value="Đồng Nai">Đồng Nai</option>
                                <option value="Đồng Tháp">Đồng Tháp</option>
                                <option value="Đồng Tháp">Đồng Tháp</option>
                                <option value="Gia Lai">Gia Lai</option>
                                <option value="Hà Giang">Hà Giang</option>
                                <option value="Hà Nam">Hà Nam</option>
                                <option value="Hà Tĩnh">Hà Tĩnh</option>
                                <option value="Hải Dương">Hải Dương</option>
                                <option value="Hải Phòng">Hải Phòng</option>
                                <option value="Hậu Giang">Hậu Giang</option>
                                <option value="Hòa Bình">Hòa Bình</option>
                                <option value="Hưng Yên">Hưng Yên</option>
                                <option value="Khánh Hòa">Khánh Hòa</option>
                                <option value="Kiên Giang">Kiên Giang</option>
                                <option value="Kon Tum">Kon Tum</option>
                                <option value="Lai Châu">Lai Châu</option>
                                <option value="Lâm Đồng">Lâm Đồng</option>
                                <option value="Lạng Sơn">Lạng Sơn</option>
                                <option value="Lào Cai">Lào Cai</option>
                                <option value="Long An">Long An</option>
                                <option value="Nam Định">Nam Định</option>
                                <option value="Nghệ An">Nghệ An</option>
                                <option value="Ninh Bình">Ninh Bình</option>
                                <option value="Ninh Thuận">Ninh Thuận</option>
                                <option value="Phú Thọ">Phú Thọ</option>
                                <option value="Quảng Bình">Quảng Bình</option>
                                <option value="Quảng Bình">Quảng Bình</option>
                                <option value="Quảng Ngãi">Quảng Ngãi</option>
                                <option value="Quảng Ninh">Quảng Ninh</option>
                                <option value="Quảng Trị">Quảng Trị</option>
                                <option value="Sóc Trăng">Sóc Trăng</option>
                                <option value="Sơn La">Sơn La</option>
                                <option value="Tây Ninh">Tây Ninh</option>
                                <option value="Thái Bình">Thái Bình</option>
                                <option value="Thái Nguyên">Thái Nguyên</option>
                                <option value="Thanh Hóa">Thanh Hóa</option>
                                <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                <option value="Tiền Giang">Tiền Giang</option>
                                <option value="Trà Vinh">Trà Vinh</option>
                                <option value="Tuyên Quang">Tuyên Quang</option>
                                <option value="Vĩnh Long">Vĩnh Long</option>
                                <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                <option value="Yên Bái">Yên Bái</option>
                                <option value="Phú Yên">Phú Yên</option>
                            </select>
                            <span id="check-city"
                                style="color: red; font-size: 14px; margin-left: 10px; margin-bottom:10px; display: none;"></span>
                        </div>
                        <h6 class="mt-2">Mục tiêu của bạn:</h6>
                        <div class="checked-div">

                            <label class="container">Du học
                                <input type="radio" class="input-checked" checked="checked" name="active"
                                    value="Du học">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Xuất khẩu lao động
                                <input type="radio" name="active" value="Xuất khẩu lao động">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                        <h6 class="mt-2">Chọn quốc gia bạn muốn đi:</h6>
                        <div class="checked-div">

                            <label class="container">Hàn Quốc
                                <input type="radio" class="input-checked" checked="checked" name="national"
                                    value="Hàn Quốc">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Nhật Bản
                                <input type="radio" name="national" value="Nhật Bản">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                        <div class="inputContainer" style="margin-bottom: 50px;">
                            <label for="subject" style="font-weight: 500;">Nguyện vọng của bạn sau khi chọn chúng
                                tôi:</label>
                            <textarea placeholder="Viết nguyện vọng của bạn..." name="more"></textarea>
                        </div>

                    </form>
                    <div class="d-flex justify-content-center" style="margin-top: 80px;"> <span
                            class="badge rounded-pill badge-success my-2" id="register-contact-success"
                            style="display: none"></span>
                        <span class="badge rounded-pill badge-danger my-2" id="register-contact-failue"
                            style="display: none"></span>
                    </div>
                    <div class="d-flex justify-content-center my-2">
                        <button class="btn btn-primary" onclick="SubmitForm()">Đăng ký</button>
                    </div>
                </div>
            </div>


        </div>

        <!-- Footer -->
        <footer class="text-center text-lg-start bg-dark text-white">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Kết nối với chúng tôi:</span>
                </div>
                <!-- Left -->
    
                <!-- Right -->
                <div>
                    <a class="me-4 link-secondary">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="me-4 link-secondary">
                        <i class="fas fa-at"></i>
                    </a>
                    <a class="me-4 link-secondary">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
    
            <!-- Section: Links  -->
            <section class="">
    
                <div class="mx-4 text-center text-md-start mt-5">
                    
                    <div class="row mt-2 mb-4">
                        <div class="col-md-8 d-flex justify-content-center mb-2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.761360657733!2d105.75683831394203!3d21.042232485991093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454c02a68f717%3A0xec9a66107e96f3d4!2sIntracom%202%20Tower!5e0!3m2!1svi!2s!4v1676538729555!5m2!1svi!2s" width="100%" height="340" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                        <div class="col-md-4 d-flex justify-content-center"> <iframe
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100090485585530&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="100%" height="340" style="border:none; overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen=""
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
                    </div>
    
                    <div class="row mt-1">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Đào tạo
                            </h6>
                            <p>
                                <a href="/thong-bao-tuyen-sinh-du-hoc-nhat-ban" class="text-reset">Thông tin tuyển
                                    sinh Nhật Bản</a>
                            </p>
                            <p>
                                <a href="/thong-bao-tuyen-sinh-du-hoc-han-quoc" class="text-reset">Thông tin tuyển
                                    sinh Hàn Quốc</a>
                            </p>
                            <p>
                                <a href="/tuyen-sinh-du-hoc-dieu-duong" class="text-reset">Tuyển sinh du học điều
                                    dưỡng</a>
                            </p>
                            <p>
                                <a href="/tuyen-sinh-du-hoc-ky-su" class="text-reset">Tuyển sinh du học kĩ sư</a>
                            </p>
                            <p>
                                <a href="/tuyen-sinh-du-hoc-phat-bao" class="text-reset">Tuyển sinh du học phát
                                    báo</a>
                            </p>
                            <p>
                                <a href="/tuyen-sinh-du-hoc-chuyen-visa" class="text-reset">Tuyển sinh du học chuyển
                                    visa</a>
                            </p>
                            <p>
                                <a href="/ho-so-du-hoc" class="text-reset">Hồ sơ du học</a>
                            </p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Xuất khẩu lao động
                            </h6>
                            <p>
                                <a href="/tuyen-dung-ky-su-nhat-ban" class="text-reset">Tuyển dụng kỹ sư</a>
                            </p>
                            <p>
                                <a href="/tuyen-dung-ky-su-han-quoc" class="text-reset">Tuyển dụng kỹ sư Hàn Quốc
                                    VISA E7</a>
                            </p>
                            <p>
                                <a href="/xuat-khau-lao-dong-nhat-ban" class="text-reset">XKLĐ Nhật Bản</a>
                            </p>
                            <p>
                                <a href="/xuat-khau-lao-dong-nhat-ban-tokutei" class="text-reset">XKLD Nhật Bản Tokutei</a>
                            </p>
                            <p>
                                <a href="/huong-dan-nhap-canh-han-quoc" class="text-reset">Hướng dẫn nhập cảnh Hàn</a>
                            </p>
                            <p>
                                <a href="/huong-dan-nhap-canh-nhat-ban" class="text-reset">Hướng dẫn nhập cảnh Nhật</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3 text-secondary"></i>Công ty BIM-PG
                            </h6>
                            <p>
                                Công ty chuyên đào tạo ngoại ngữ
                                du học xuất khẩu lao động
                            </p>
    
                            <h6 class="text-uppercase fw-bold mb-4">Thời gian làm việc:
                            </h6>
                            <p>Từ T2-T6: 08:30 to 18:00</p>
                            <p>T7: 08:30 to 12:00</p>
    
                        </div>
                        <!-- Grid column -->
    
                        <!-- Grid column -->
    
                        <!-- Grid column -->
    
                        <!-- Grid column -->
    
                        <!-- Grid column -->
    
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                            <p><i class="fas fa-home me-3 text-secondary"></i> Intracom 2, số 33, đường Cầu Diễn, Phường
                                Phúc Diễn, Quận Bắc Từ Liêm, Thành Phố Hà Nội.</p>
                            <p>
                                <i class="fas fa-envelope me-3 text-secondary"></i>
                                bimpgduhocxlkd@gmail.com
    
                            </p>
                            <p><i class="fas fa-phone me-3 text-secondary"></i>+ 84 989 016 574</p>
    
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
    
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
                © 2023:
                <a class="text-reset fw-bold" href="/">Công ty BIM-PG</a>
            </div>
            <!-- Copyright -->
        </footer>


</body>

</html>